<ul class="flex justify-between fixed top-0 bg-white/75 mb-10 w-full px-16 py-10">
	<li><a href="/">Home</a></li>
	<li><a href="/books">My Books</a></li>
	<li><a href="/login">Login</a></li>
	<li><a href="/logout">Logout</a></li>
</ul>
